@font-face {
  font-family: Inter;
  src: url(./public/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: RubikScribble-Regular;
  src: url(./public/fonts/RubikScribble-Regular.ttf);
}

:root {
  --primary-color: #0f496f;
  --secondary-color: rgb(238, 132, 66);

  --font-main: Inter, sans-serif;
  --font-accent: RubikScribble-Regular, cursive;
}

body {
  margin: 0px;
  padding: 0;
  font-family: var(--font-main);
}

body.darkmode {
  --primary-color: #121212;
  --secondary-color: #ad76f1;
}

.jokes-app {
  max-width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  padding: 15px;
}

.jokes-app__header {
  text-align: center;
  margin: 0px;
}

.jokes-app__title {
  font-size: 50px;
  font-weight: bold;
  font-family: var(--font-accent);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 30px;
}
.jokes-app__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--primary-color);
}

p {
  font-size: 1rem;
  color: var(--secondary-color);
  margin: 0px;
  padding: 10px;
  text-align: center;
}

button.jokes-app__newjoke {
  margin: 20px;
  padding: 15px;
  font-size: 1rem;
  background-color: var(--secondary-color);
  color: black;
  border-radius: 10px;
  cursor: pointer;
}

.jokes-app__joke-text {
  font-size: 16px;
  background-color: var(--secondary-color);
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.jokes-app__savejoke {
  margin: 20px;
  padding: 15px;
  font-size: 1rem;
  background-color: var(--secondary-color);
  color: black;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 9px;

  &-icon {
    width: 20px;
    height: 20px;
  }
}

.jokes-app__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
}

.jokes-app__subtitle {
  font-size: 20px;
  color: var(--secondary-color);
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.jokes-app__savedjokelist {
  display: flex;
  justify-content: center;
  text-align: center;
}

.jokes-app__saved-joke {
  margin-top: 5px;
  padding: 10px 10px 20px 10px;
  font-size: 15px;
  color: black;
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.jokes-app__deletejoke {
  margin: 20px;
  padding: 15px;
  font-size: 1rem;
  background-color: var(--secondary-color);
  color: black;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 9px;

  &-icon {
    width: 20px;
    height: 20px;
  }
}

.jokes-app__btn-darkmode {
  margin: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  padding: 12px;
  color: black;
  background-color: var(--secondary-color);
  border-radius: 8px;
  background-image: url(./assets/svg/moon_111148.svg);
  background-repeat: no-repeat;
}

.jokes-app__dm-icon {
  width: 30px;
  height: 30px;
}

.saved-joke {
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  background-color: var(--secondary-color);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

button.jokes-app__clearAllJokes {
  margin: 20px;
  padding: 15px;
  font-size: 1rem;
  background-color: var(--secondary-color);
  color: black;
  border-radius: 10px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .jokes-app {
    max-width: 80%;
  }

  .jokes-app__title {
    padding: 20px;
    font-size: 60px;
  }
  .jokes-app__main p {
    font-size: 1.5rem;
  }
  .jokes-app__subtitle {
    font-size: 1.6rem;
  }

  @media (min-width: 900px) {
    .jokes-app {
      max-width: 60%;
    }

    .jokes-app__title {
      padding: 30px;
      font-size: 80px;
    }
    .jokes-app__main p {
      font-size: 1.8rem;
    }
    .jokes-app__subtitle {
      font-size: 1.9rem;
    }

    @media (min-width: 1200) {
      .jokes-app {
        max-width: 50%;
      }

      .jokes-app__title {
        padding: 40px;
        font-size: 90px;
      }
      .jokes-app__main p {
        font-size: 1.8rem;
      }
      .jokes-app__subtitle {
        font-size: 1.9rem;
      }
    }
  }
}
